# Ignore the uploaded folders
/.vs
/logs
/Debug
/Output
/Release
/simplec/x64
/simplec/logs
/simplec/Debug
/simplec/Release

# Ignore the uploaded files
-p
~*
*~
*.db
*.suo
*.swp
*.swo
*.exe
*.out
*.pdb
*.pch
*.ilk
*.log
*.err
*.out
*.obj
*.idb
.*.swo
*.iobj
*.ipdb
*.tlog
*.opendb
