# Ignore the uploaded folders
/.vs
/Output
/Debug
/Release
/simplec/x64
/simplec/Debug
/simplec/logs

# Ignore the uploaded files
-p
~*
*~
*.db
*.suo
*.swp
*.swo
*.exe
*.out
*.pdb
*.pch
*.ilk
*.log
*.err
*.out
*.obj
*.idb
.*.swo
*.iobj
*.ipdb
*.tlog
*.opendb
